<footer class="footer text-white bg-mygray-5  py12 py-md25">
    <div class="container">
        <div class="d-flex flex-wrap  flex-column flex-md-row justify-content-md-between align-items-md-center mb-md4">
            <div class="mb10 mb-md0">
                <a href="index.html" class="footer-logo"><img src="../assets/images/logo-white.png" alt="logo"></a>
            </div>
            <ul class="footer-nav d-flex flex-column  flex-md-row pl0 mb10 mb-md0">
                <li class="mr-md8 mb6 mb-md0 "><a href="#">常見問題</a></li>
                <li class="mr-md8 mb6 mb-md0 "><a href="#">關於我們</a></li>
                <li class="mr-md8 mb6 mb-md0 "><a href="#">隱私權政策</a></li>
                <li><a href="#">使用者條款</a></li>
            </ul>
        </div>
        <div class="d-flex flex-wrap flex-column-reverse  flex-md-row justify-content-md-between align-items-md-center ">
            <p class="fz-3 fz-md4">copyright &copy; 2024 LEARNING 課程網站 All Rights Reserved.</p>
            <ul class="sns-ic d-flex  align-items-center pl0 mb8 mb-md0">
                <li class="mr4 mr-md8"><a href="#" ><i class=" bi bi-line d-block p3 border rounded-circle"></i></li>
                <li class="mr4 mr-md8"><a href="#" ><i class=" bi bi-youtube d-block p3 border rounded-circle"></i></a></li>
                <li><a href="#"><i class=" bi bi-facebook d-block p3 border rounded-circle"></i></a></li>
            </ul>
        </div>
    </div>
</footer> 